
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
!important background: white;
}

#wrap {
    background: black;
    width: 100%;
    height: 100%;

}

#container-question {
    width: 300px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1 {
    color:white;
    font-weight: normal;
    font: 40px "Yanone Kaffeesatz";
    line-height: 100px;
    text-align: center;
}

h3 {
    color:white;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 50px;
    text-align: center;
}

p {
    width: 400px;
    color: #000;
    font-weight: normal;
    font: 20px "Yanone Kaffeesatz";
    line-height: 100px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #5F7685;
    background: transparent;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

p:after {
    position: absolute;
    bottom: 50px;
    left: 0%;
    height: 1px;
    width: 0%;
    color:white;
    background-color: #fff;
    display: block;
    content: '';
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}




input {
    width: 100%;
    height: 50px;
    margin: 10px 0 0 0;
    border: 1px solid #000;
    color: #000;
    background: #fff;
    outline: none;
    font-weight: normal;
    font: 25px "Yanone Kaffeesatz";
    line-height: 30px;
    text-align: center;
    box-shadow: inset 0 0 0 0 #000;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    cursor: pointer;
}




button   [type='button']:hover {
    box-shadow: inset 0 0px 0 100px #000;
    color: #FFF;
}


::-webkit-input-placeholder {

    color: #000;
    }

:-moz-placeholder { /* Firefox 18- */

    color: #000;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    color: #fff;
}





#container {
    width: auto;
    height: auto;
    position: relative;
    top: -40%;
}

.mo {
    -webkit-animation: fadeIn .3s infinite;
    animation: fadeIn .3s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    opacity: 0;
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }




}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }


}
